    </main>
    <footer class="page-horizontal">
        Codeurs en Liberté
        — <a href="/a-propos/legal/">Mentions légales</a>
        — <a href="https://gitlab.com/CodeursEnLiberte/www">Sources du site</a>
        {{ with .OutputFormats.Get "rss" -}}
          — <a href="{{ .Permalink | safeURL }}">RSS</a>
        {{ else }}
          — <a href="/index.xml">RSS</a>
        {{ end -}}
        — Licence du site : <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/">CC-BY-SA</a>
    </footer>
  </body>
</html>
